.card0{
    width:300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition:0.3s;
    animation:ease-in;
   
}
.card-img-top0{
    background-image: url("../assets/invdel.jpg");
    height:400px;
    width:600px;
   
}
.Datepost{
    font-size: 15px;
   
}
.raw2:hover{
    background-color: rgba(167, 167, 221, 0.3);;
    }